.card-container {
    width: 100%;
    max-width: 400px;
    aspect-ratio: 3 / 2;
    overflow: scroll;
    scroll-behavior: smooth;
    color: black;

    padding: 16px;
    border-radius: 12px;
    background: #ffffff;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);

    display: flex;
    flex-direction: column;
    gap: 12px;
}

.card-container::-webkit-scrollbar {
    width: 8px;
}

.card-container::-webkit-scrollbar-thumb {
    background: rgba(255, 0, 0, 0.3);
    border-radius: 4px;
}

.card-container::-webkit-scrollbar-thumb:hover {
    background: rgba(255, 0, 0, 0.5);
}
